body {
  background-image: url(../img/bg/1/dark_wall.png);
  * {
    color:white;
  }
  a {
    color:#B6212D;
    &:hover {
      color:#B6212D;
    }
  }
  h2, .active {
    margin-top:0;
    color:#B6212D;
  }
  
  p, .ho-hours {
    font-size: 32px;
    font-weight:900;
    
  }
}

.page-menu .ho-menu > .menu-menu,
.page-location .ho-menu > .menu-location,
.page-events .ho-menu > .menu-events,
.page-press .ho-menu > .menu-press {
  text-decoration: underline;
}

.page-menu {
  .bg-img {
    background-image: url(../img/_MG_6482_1440.jpg);
  }
  a:hover {
    text-decoration: none;
  }
  p {
    b {
      font-size:18px;
    }
    em {
      font-style: normal;
      font-size:16px;
      display:block;
      font-weight: normal;
    }
    margin-bottom:15px;
  }
}

.page-home {
  .bg-img {
    background-image: url(../img/_MG_6450_1440.jpg);
  }
}

.page-location {
  .bg-img {
    background-image: url(../img/2016-02-18_10-14-33.jpg);
  }
  p {
    font-size:24px;
  }
}

.page-events {
  .bg-img {
    background-image: url(../img/_MG_6476_1440.jpg);
  }
  p {
    font-size:24px;
  }
}

.page-press {
  .bg-img {
    background-image: url(../img/_MG_6469_1440.jpg);
  }
  
  p {
    font-size:18px;
  }
  
  blockquote {
    background-color:rgba(255, 255, 255, 0.1);
    footer {
      color:white;
    }
  }
}

.bg-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  margin-bottom:42px;
  min-height:350px;
  padding-bottom:5px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

  h2 {
    font-size: 56px;
  }
}

.logo-img {
  margin-top:10px;
  vertical-align:bottom;
  padding-right:8px;
  
  @media (max-width:768px) {
    height:45px;
    width:auto;
  }
}
.logo-txt {
  font-size:45px;
  @media (max-width:768px) {
    font-size:30px;
  }
}

.ho-menu {
  font-size:24px;
  margin-top:20px;
  margin-bottom:0;
}

.ho-social {
  text-align: left;
  font-size:32px;
  margin:0;
  
  .fa {
    color:#B6212D;
  }
  
  @media(min-width:992px) {
    margin-top:-60px;
    font-size:60px;
  }
  
  @media (min-width: 768px) {
    text-align:right;
  }
}