<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--<rule name="redirect-https" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>-->
        
        <rule name="redirect-new-domain" stopProcessing="true">
          <match url="(.*)" />
          <action type="Redirect" redirectType="Permanent" url="https://www.bootlegbarsf.com/" />
        </rule>
        
        <rule name="redirect-www" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="localhost" negate="true"/>
            <add input="{HTTP_HOST}" pattern="^www.+" negate="true"/>
            <add input="{HTTP_HOST}" pattern=".+azurewebsites.net$" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Found" url="http://www.{HTTP_HOST}/{R:1}" />
        </rule>
        
        <rule name="redirect-dot-html" stopProcessing="true">
          <match url="(.+).html" />
          <action type="Redirect" url="{R:1}" />
        </rule>
        
        <rule name="rewrite-dot-html" stopProcessing="true">
          <match url="(.+)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" redirectType="Found" url="{R:1}.html" />
        </rule>
        
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough"/>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
